In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_excel('products.xlsx')

In [3]:
df.head()

,Base Product,Description,Date,Quantity,Variation Type,Variation Detail,Customisation Complexity,Material,Price,Country
0,12 pencils tall tube,12 pencils tall tube skulls,2009-12-01,28,miscellaneous,miscellaneous: skulls,1,polymer,0.85,United Kingdom
1,12 pencils tall tube,12 pencils tall tube skulls,2009-12-02,25,miscellaneous,miscellaneous: skulls,1,polymer,0.85,United Kingdom
2,12 pencils tall tube,12 pencils tall tube skulls,2009-12-03,28,miscellaneous,miscellaneous: skulls,1,polymer,0.85,United Kingdom
3,12 pencils tall tube,12 pencils tall tube skulls,2009-12-04,79,miscellaneous,miscellaneous: skulls,1,polymer,0.85,United Kingdom
4,12 pencils tall tube,12 pencils tall tube skulls,2009-12-05,12,miscellaneous,miscellaneous: skulls,1,polymer,0.85,United Kingdom

In [4]:
engine = create_engine('sqlite:///store_data.db', echo=False)

In [5]:
table_name = 'product_data'
connection = engine.raw_connection()

df.to_sql(table_name, connection, index = False, if_exists='replace')

/var/folders/xb/pv_zrgf91qb8m1q7hw27nyt80000gp/T/ipykernel_24720/1473616780.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(table_name, connection, index = False, if_exists='replace')

128142

In [6]:
result_df = pd.read_sql("SELECT * FROM product_data", con=connection)

/var/folders/xb/pv_zrgf91qb8m1q7hw27nyt80000gp/T/ipykernel_24720/2820234882.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql("SELECT * FROM product_data", con=connection)

In [7]:
result_df.head()

,Base Product,Description,Date,Quantity,Variation Type,Variation Detail,Customisation Complexity,Material,Price,Country
0,12 pencils tall tube,12 pencils tall tube skulls,2009-12-01 00:00:00,28,miscellaneous,miscellaneous: skulls,1,polymer,0.85,United Kingdom
1,12 pencils tall tube,12 pencils tall tube skulls,2009-12-02 00:00:00,25,miscellaneous,miscellaneous: skulls,1,polymer,0.85,United Kingdom
2,12 pencils tall tube,12 pencils tall tube skulls,2009-12-03 00:00:00,28,miscellaneous,miscellaneous: skulls,1,polymer,0.85,United Kingdom
3,12 pencils tall tube,12 pencils tall tube skulls,2009-12-04 00:00:00,79,miscellaneous,miscellaneous: skulls,1,polymer,0.85,United Kingdom
4,12 pencils tall tube,12 pencils tall tube skulls,2009-12-05 00:00:00,12,miscellaneous,miscellaneous: skulls,1,polymer,0.85,United Kingdom